body,
h1,
h2,
h3,
h4,
h5,
p,
a,
input,
button,
textarea,
span,
pre,
div,
ul,
li,
ol {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

button,
textarea,
input {
  -webkit-appearance: none;
  background: none;
  outline: 0;
  border: none;
  -webkit-border-radius: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #75cfea;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 14px;
  }
}

.dead-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
